


* {
    box-sizing: border-box;
}

html {
    background-color: var(--dark-blue);
    font-family: var(--font-family);
}

.card-body {
    border-radius: 1em;
    padding: 1.5em;
    margin: 10vh auto auto;
    text-align: center;
    max-width: 600px;
    background-color: var(--dark-grayish-blue);
    
}

.card-body #advice-title {
    letter-spacing: 5px;
    text-transform: uppercase;
}

.card-body p {
    font-size: var(--quote-size);
    font-weight: var(--font-weight);
    color: var(--light-cyan);
    line-height: 1.5;
}

.loading {
    background-color: var(--light-cyan);
    color: var(--light-cyan);
}

img:not(button > img) {
    display: block;
    margin: 1.5em auto;
    padding: 0;
    width: 100%;
    
}

#advice-description::before, #advice-description::after {
    content: "\"";
}

#get-advice-btn {
    padding: 1.5em;
    border-radius: 100%;
    border: none;
    line-height: 0;
    position: relative;
    margin-top: -3em;
    margin-bottom: -4em;
    top: 3.5em;
    width: 7em;
    height: 7em;
    background-color: var(--neon-green);
    cursor: pointer;
}

#get-advice-btn:hover {
    box-shadow: 0px 0px 3em var(--neon-green);
}

#get-advice-btn img {
    width: 3em;
}